.skillsSection{
    background: $blackBackground;
    color: #ffffff;
    padding: 160px 0 140px;

    .wrapper{
        // display: flex;
        // flex-flow: column nowrap;
    }
}

.sectionTitleContainer{
    text-align: center;

    .sectionTitle{
        font-size: 3.6rem;
        font-weight: 700;
    }
    .sectionSubtitle{
        font-size: 1.7rem;
        font-weight: 400;
    }
}

.skillsContainer{
    display: flex;
    flex-flow: column wrap;
    padding-top: 50px;
    
    .skillRow{
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .skillCard{
        margin: 35px;
        text-align: center;
        padding: 30px 10px;
        
        
        &:hover{
            border-radius: 10px;
            transition: all 0.5s;
            transform: scale(1.5);
        }
        
        &:hover .fa-react{
            color: #892582;
        }
        &:hover .fa-js{
            color: #f86b18;
        }
        &:hover .fa-html5{
            color: #0095c8;
        }
        &:hover .fa-css3-alt{
            color: #97ca85;
        }
        &:hover .fa-code-branch{
            color: #872480;
        }
        &:hover .fa-github{
            color: #f7bdc6;
        }
        &:hover .fa-sass{
            color: #0095c8;
        }
        &:hover .fa-gulp{
            color: #f5b211;
        }

        .fab, .fas{
            font-size: 8vw;
        }

        .skillsTitle{
            font-size: 2rem;
            font-weight: 700;
        }
    }
}
